<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <link rel="stylesheet" href="/css/footerMercadoLiebre.css">
</head>
<body> 
            <!--Footer-->
            <footer>
                <div class="contenedor_General">
                <div class="contenedor1">
                   <div class="info-contenedor">
                    <div class="imagen">
                    <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" class="imagen">
                   </div>
                   <h1 class="h1">Elige cómo pagar</h1>
                   <p>
                       <span>
                        "Con Mercado Pago, paga con tarjeta, débito o efectivo. También puedes pagar en hasta 12 mensualidades sin tarjeta con Mercado Crédito"
                       </span>
                   </p>
                   <a href="MercadoPago">Cómo pagar con Mercado Pago</a>
                </div>
                <div class="contenedor1">
                    <div class="info-contenedor">
                     <div class="imagen">
                     <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" class="imagen">
                    </div>
                    <h1 class="h1">Envió gratis desde $299</h1>
                    <p>
                        <span>
                            Con solo estar registrado en Mercado Libre, tienes envíos gratis en millones de productos seleccionados.
                        </span>
                    </p>
                    <a href="envioGratis">Conoce más sobre este beneficio</a>
                 </div>

                 <div class="contenedor1">
                    <div class="info-contenedor">
                     <div class="imagen">
                     <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" class="imagen">
                    </div>
                    <h1 class="h1">Seguridad, de principio a fin</h1>
                    <p>
                        <span>
                            ¿No te gusta? ¡Devuélvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.
                        </span>
                    </p>
                    <a href="envioGratis">Cómo te protegemos</a>
                 </div>
                 <div class="copyrigth">
                     <p>Copyright ©&nbsp;1999-2021 DeRemate.com de México S. de R.L. de C.V.</p>
                     <p>Insurgentes Sur 1602 Piso 9 Suite 900, Crédito Constructor Benito Juarez, 03940 Ciudad de México, CDMX, Mexico</p>
                     <a href="App">¡Descarga gratis la app de Mercado Liebre</a>
                 </div>
            </footer>
</body>
</html>