<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/f226d612e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo">
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="rigth-navbar">
                    <li><a href="#">Creá tu cuenta<i class="fas fa-credit-card"></i></a></li>
                    <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
    
    
    
    
    
        </header>
        <!--Formulario-->
        <form action="/crear producto" method="POST" class="create-form">
            <div class="control-formulario">
                <label>Nombre del producto</label>
                <input type="text" name="nombre" class="control">
            </div>
            <div class="control-formulario">
                <label>Precio del producto</label>
                <input type="number" name="Precio" placeholder="123.56" class="control">
            </div>
            <div class="control-formulario">
                <label>Categoría</label>
                <select name="categoria" class="control">
                    <option value="Hogar">Hogar</option>
                    <option value="Electro">Electro</option>
                    <option value="Indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="control-formulario">
                <label>Ciudad</label>
                <select name="Ciudad" class="control">
                    <option value="Ecatepec">Ecatepec</option>
                    <option value="Coacalco">Coacalco</option>
                    <option value="Cuautitlan">Cuautitlan</option>
                </select>
            </div>
            <div class="control-formulario">
                <label>Descripción</label>
                <textarea name="descripcion" class="control"></textarea>
            </div>
            <div class="control-formulario">
                <label>Esta en Oferta</label>
                <input type="radio" name="oferta">
            </div>
            <button type="submit" class="boton-formulario">Guardar</button>
            <button type="reset" class="boton-formulario">Borrar</button>
        </form>


        <div class="seccion-titulo-oferta">
            <h2 class="titulo-categoria-ofertas">Ofertas</h2>
            <a href="#"><p class="ver-todas">Ver todas</p></a>
        </div>
        <div class="ofertas">
            <a href="#" class="producto-a" id="producto1">
                <article class="producto">
                    <img src="images/img-macbook-pro-2019.jpg" alt="imagen_del_producto">
                    <div class="precio-anterior">
                        <p>$ 6,399.00</p>
                    </div>
                    <div class="precio-descuento">
                        <p class="precio-producto">$ 3,799.00</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="pagos-diferidos">$ 12x $ 316.58 sin interés</p>
                    <p class="modo-envio">Envío gratis</p>
                    <div class="descripcion-producto">
                        <p>Breve descripción del producto ofrecido.</p>
                    </div>
                </article>
            </a>
            <a href="#" class="producto-a" id="producto2">
                <article class="producto">
                    <img src="images/img-cafetera-moulinex.jpg" alt="imagen_del_producto">
                    <div class="precio-anterior">
                        <p>$ 6,399.00</p>
                    </div>
                    <div class="precio-descuento">
                        <p class="precio-producto">$ 3,799.00</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="pagos-diferidos">$ 12x $ 316.58 sin interés</p>
                    <p class="modo-envio">Envío gratis</p>
                    <div class="descripcion-producto">
                        <p>Breve descripción del producto ofrecido.</p>
                    </div>
                </article>
            </a>
            <a href="#" class="producto-a" id="producto3">
                <article class="producto">
                    <img src="images/producto.jpg" alt="imagen_del_producto">
                    <div class="precio-anterior">
                        <p>$ 6,399.00</p>
                    </div>
                    <div class="precio-descuento">
                        <p class="precio-producto">$ 3,799.00</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="pagos-diferidos">$ 12x $ 316.58 sin interés</p>
                    <p class="modo-envio">Envío gratis</p>
                    <div class="descripcion-producto">
                        <p>Breve descripción del producto ofrecido.</p>
                    </div>
                </article>
            </a>
            <a href="#" class="producto-a"  id="producto4">
                <article class="producto">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen_del_producto">
                    <div class="precio-anterior">
                        <p>$ 6,399.00</p>
                    </div>
                    <div class="precio-descuento">
                        <p class="precio-producto">$ 3,799.00</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="pagos-diferidos">$ 12x $ 316.58 sin interés</p>
                    <p class="modo-envio">Envío gratis</p>
                    <div class="descripcion-producto">
                        <p>Breve descripción del producto ofrecido.</p>
                    </div>
                </article>
            </a>
            <a href="#" class="producto-a" id="producto5">
                <article class="producto">
                    <img src="images/img-tv-samsung-smart.jpg" alt="imagen_del_producto">
                    <div class="precio-anterior">
                        <p>$ 6,399.00</p>
                    </div>
                    <div class="precio-descuento">
                        <p class="precio-producto">$ 3,799.00</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="pagos-diferidos">$ 12x $ 316.58 sin interés</p>
                    <p class="modo-envio">Envío gratis</p>
                    <div class="descripcion-producto">
                        <p>Breve descripción del producto ofrecido.</p>
                    </div>
                </article>
            </a>
        </div>


        <h2 class="titulo-categorias">Categorías populares</h2>
        <div id="categorias-populares">
            <div class="categorias-populares">
                <a href="#" class="autos" id="categoria1">
                    <article class="categoria">
                        <span class="material-icons-outlined">directions_car</span>
                        <p class="titulo-de-categoria">Autos, motos, y otros</p>
                    </article>
                </a>
                <a href="#" class="market" id="categoria2">
                    <article class="categoria">
                        <span class="material-icons-outlined">store</span>
                        <p class="titulo-de-categoria">Supermercado</p>
                    </article>
                </a>
                <a href="#" class="accesorios" id="categoria3">
                    <article class="categoria">
                        <span class="material-icons-outlined">sports_motorsports</span>
                        <p class="titulo-de-categoria">Accesorios para vehículos</p>
                    </article>
                </a>
                <a href="#" class="fitness" id="categoria4">
                    <article class="categoria">
                        <span class="material-icons-outlined">fitness_center</span>
                        <p class="titulo-de-categoria">Deportes y fitness</p>
                    </article>
                </a>
                <a href="#" class="computer" id="categoria5">
                    <article class="categoria">
                        <span class="material-icons-outlined">computer</span>
                        <p class="titulo-de-categoria">Computación</p>
                    </article>
                </a>
                <a href="#" class="games" id="categoria6">
                    <article class="categoria">
                        <span class="material-icons-outlined">games</span>
                        <p class="titulo-de-categoria">Consolas y Videojuegos</p>
                    </article>
                </a>
            </div>
            <div class="categorias-populares">
                <a href="#" class="electrodomesticos" id="categoria7">
                    <article class="categoria">
                        <span class="material-icons-outlined">kitchen</span>
                        <p class="titulo-de-categoria">Electrodomésticos</p>
                    </article>
                </a>
                <a href="#" class="inmuebles" id="categoria8">
                    <article class="categoria">
                        <span class="material-icons-outlined">apartment</span>
                        <p class="titulo-de-categoria">Inmuebles</p>
                    </article>
                </a>
                <a href="#" class="clothes" id="categoria9">
                    <article class="categoria">
                        <span class="material-icons-outlined">checkroom</span>
                        <p class="titulo-de-categoria">Ropa, bolsas y accesorios</p>
                    </article>
                </a>
                <a href="#" class="telefonia" id="categoria10">
                    <article class="categoria">
                        <span class="material-icons-outlined">wifi_calling_3</span>
                        <p class="titulo-de-categoria">Celulares y telefonía</p>
                    </article>
                </a>
                <a href="#" class="microphone" id="categoria11">
                    <article class="categoria">
                        <span class="material-icons-outlined">mic</span>
                        <p class="titulo-de-categoria">Electrónica, audio y video</p>
                    </article>
                </a>
                <a href="#" class="toys" id="categoria12">
                    <article class="categoria">
                        <span class="material-icons-outlined">smart_toy</span>
                        <p class="titulo-de-categoria">Jeguetería</p>
                    </article>
                </a>
            </div>  
        </div>




    </body>
</html>