.categorias-populares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 5vw;
    margin-left: 5vw;
}
.categorias-populares a {
    text-decoration: none;
    background-color: white;
    margin: 1px 1px;
}
.categorias-populares a:hover {
    background-color:rgb(52, 131, 250);
}
.categorias-populares a:hover .material-icons-outlined{
    background-color:rgb(52, 131, 250);
    color:white;
}
.categorias-populares a:hover .titulo-de-categoria{
    background-color:rgb(52, 131, 250);
    color:white;
}
.titulo-categorias {
    font-weight: 300;
    font-family: roboto;
    margin-left: 10vw;
    padding-top:50px;
}
#categorias-populares {
    margin-bottom: 15px;
}
.categoria {
    display: block;
    margin-bottom: 1vw;
    padding: 1vw;
    width: 40vw;
    height: 40vw;
}
.categoria .material-icons-outlined {
    font-size: 25vw;
    font-weight: 300;
    color: rgb(52, 131, 250);
    text-align: center;
    position: relative;
    left: 3vw;
}
.categoria .titulo-de-categoria {
    color: black;
    font-weight: 300;
    background-color: white;
    max-width:35vw;
    text-align: center;
}
#categoria5, #categoria6, #categoria3, #categoria4, #categoria9, #categoria10, #categoria11, #categoria12 {
    display: none;
}


.precio-anterior p{
    color: rgba(0, 0, 0, .7);
    margin-bottom: -11px;
    font-size: 13px;
    margin-left:5px;
    text-decoration: line-through;
}
.precio-anterior {
    visibility: hidden;
}
.producto-a:hover .precio-anterior {
    visibility: visible;
}
.descripcion-producto p{
    color: rgba(0, 0, 0, .7);
    font-size: 13px;
    margin-left:5px;
}
.descripcion-producto {
    visibility: hidden;
}
.producto-a:hover .descripcion-producto {
    visibility: visible;
}

.seccion-titulo-oferta {
    display: flex;
    align-items: center;
}
.ver-todas {
    margin-left: 25px;
    color: blue;
    font-size: 14px;
    text-decoration: none;
}
.titulo-categoria-ofertas {
    font-weight: 300;
    font-family: roboto;
    margin-left: 13vw;
}
.ofertas {
    display: flex;
    justify-content: center;
    padding: 1vw;
}
.producto {
    width: 40vw;
    background-color: white;
}
.producto-a {
    width: 40vw;
    background-color: white;
    text-decoration: none;
    margin: 0 5px;
}
.producto img {
    max-width: 40vw;
    max-height: 40vw;
    margin-bottom: -5px;
}
#producto3, #producto4, #producto5 {
    display: none;
}
.precio-descuento {
    display: flex;
}

.precio-producto {
    color: black;
    margin-bottom: -11px;
    font-size: 18px;
    margin-left:5px;
}
.descuento {
    padding-left: 25px;
    color: #39b54a;
    font-size: 12px;
    position: relative;
    top: 10px;
}
.pagos-diferidos {
    color: black;
    margin-bottom: -11px;
    font-size: 14px;
    margin-left:5px;
}
.modo-envio {
    color: #39b54a;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left:5px;
}

@media(min-width:1200px){
    .categorias-populares {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 5vw;
        margin-left: 5vw;
    }
    .categorias-populares a {
        text-decoration: none;
        background-color: white;
        margin: 1px 1px;
    }
    .categorias-populares a:hover {
        background-color:rgb(52, 131, 250);
    }
    .categorias-populares a:hover .material-icons-outlined{
        background-color:rgb(52, 131, 250);
        color:white;
    }
    .categorias-populares a:hover .titulo-de-categoria{
        background-color:rgb(52, 131, 250);
        color:white;
    }
    .titulo-categorias {
        font-weight: 300;
        font-family: roboto;
        margin-left: 13vw;
        padding-top:50px;
    }
    #categorias-populares {
        margin-bottom: 15px;
    }
    .categoria {
        display: block;
        margin-bottom: 1vw;
        padding: 1vw;
        width: 12vw;
        height: 12vw;
    }
    .categoria .material-icons-outlined {
        font-size: 5vw;
        font-weight: 300;
        color: rgb(52, 131, 250);
        text-align: center;
        position: relative;
        left: 3vw;
    }
    .categoria .titulo-de-categoria {
        color: black;
        font-weight: 300;
        background-color: white;
        max-width:11vw;
        text-align: center;
    }
    #categoria5, #categoria6, #categoria3, #categoria4, #categoria9, #categoria10, #categoria11, #categoria12 {
        display: block;
    }
    
    
    .precio-anterior p{
        color: rgba(0, 0, 0, .7);
        margin-bottom: -11px;
        font-size: 13px;
        margin-left:5px;
        text-decoration: line-through;
    }
    .precio-anterior {
        visibility: hidden;
    }
    .producto-a:hover .precio-anterior {
        visibility: visible;
    }
    .descripcion-producto p{
        color: rgba(0, 0, 0, .7);
        font-size: 13px;
        margin-left:5px;
    }
    .descripcion-producto {
        visibility: hidden;
    }
    .producto-a:hover .descripcion-producto {
        visibility: visible;
    }
    #producto3, #producto4, #producto5 {
    display: block;
    }
    .seccion-titulo-oferta {
        display: flex;
        align-items: center;
    }
    .ver-todas {
        margin-left: 25px;
        color: blue;
        font-size: 14px;
        text-decoration: none;
    }
    .titulo-categoria-ofertas {
        font-weight: 300;
        font-family: roboto;
        margin-left: 13vw;
    }
    .ofertas {
        display: flex;
        justify-content: center;
        padding: 1vw;
    }
    .producto {
        width: 14vw;
        background-color: white;
    }
    .producto-a {
        width: 14vw;
        background-color: white;
        text-decoration: none;
        margin: 0 5px;
    }
    .producto img {
        max-width: 13vw;
        max-height: 13vw;
        margin-bottom: -5px;
    }
    .precio-descuento {
        display: flex;
    }
    
    .precio-producto {
        color: black;
        margin-bottom: -11px;
        font-size: 18px;
        margin-left:5px;
    }
    .descuento {
        padding-left: 25px;
        color: #39b54a;
        font-size: 12px;
        position: relative;
        top: 10px;
    }
    .pagos-diferidos {
        color: black;
        margin-bottom: -11px;
        font-size: 14px;
        margin-left:5px;
    }
    .modo-envio {
        color: #39b54a;
        margin-bottom: 5px;
        font-size: 14px;
        margin-left:5px;
    }
}