*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235,235,235);
}
.main-header{
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.hamburguer-button{
    background-color: #03264c;
    color: #ffffff;
    display:block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font: size 18px;
    margin:auto;
}

.logo{
    width: 200px;
    animation: aumentar 1s linear infinite alternate;
}

@keyframes aumentar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.copy-header{
font-weight: 400;
text-align: center;
}

.main-navbar{
display: none;    
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color:#222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.create-form{
    padding: 20px 15px;
    margin-top: 240px;
}

.control-formulario{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control{
    width: 100%;
    padding: 8px;
}

.boton-formulario{
background-color: #39b54a;
border: none;
font-size: 20px;
color: white;
padding: 5px 10px;
border-radius: 5px;
}




.categorias-populares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 5vw;
    margin-left: 5vw;
}
.categorias-populares a {
    text-decoration: none;
    background-color: white;
    margin: 1px 1px;
}
.categorias-populares a:hover {
    background-color:rgb(52, 131, 250);
}
.categorias-populares a:hover .material-icons-outlined{
    background-color:rgb(52, 131, 250);
    color:white;
}
.categorias-populares a:hover .titulo-de-categoria{
    background-color:rgb(52, 131, 250);
    color:white;
}
.titulo-categorias {
    font-weight: 300;
    font-family: roboto;
    margin-left: 13vw;
    padding-top:50px;
}
#categorias-populares {
    margin-bottom: 15px;
}
.categoria {
    display: block;
    margin-bottom: 1vw;
    padding: 1vw;
    width: 12vw;
    height: 12vw;
}
.categoria .material-icons-outlined {
    font-size: 5vw;
    font-weight: 300;
    color: rgb(52, 131, 250);
    text-align: center;
    position: relative;
    left: 3vw;
}
.categoria .titulo-de-categoria {
    color: black;
    font-weight: 300;
    background-color: white;
    max-width:11vw;
    text-align: center;
}


.precio-anterior p{
    color: rgba(0, 0, 0, .7);
    margin-bottom: -11px;
    font-size: 13px;
    margin-left:5px;
    text-decoration: line-through;
}
.precio-anterior {
    visibility: hidden;
}
.producto-a:hover .precio-anterior {
    visibility: visible;
}
.descripcion-producto p{
    color: rgba(0, 0, 0, .7);
    font-size: 13px;
    margin-left:5px;
}
.descripcion-producto {
    visibility: hidden;
}
.producto-a:hover .descripcion-producto {
    visibility: visible;
}

.seccion-titulo-oferta {
    display: flex;
    margin-bottom: -15px;
}
.ver-todas {
    margin-left: 20px;
    color: blue;
    font-size: 14px;
    position: relative;
    top: 11px;
    text-decoration: none;
}
.ofertas {
    display: flex;
    justify-content: center;
    padding: 1vw;
}
.producto {
    width: 14vw;
    background-color: white;
}
.producto-a {
    width: 14vw;
    background-color: white;
    text-decoration: none;
    margin: 0 5px;
}
.producto img {
    max-width: 13vw;
    max-height: 13vw;
    margin-bottom: -5px;
}
.precio-descuento {
    display: flex;
}

.precio-producto {
    color: black;
    margin-bottom: -11px;
    font-size: 18px;
    margin-left:5px;
}
.descuento {
    padding-left: 25px;
    color: #39b54a;
    font-size: 12px;
    position: relative;
    top: 10px;
}
.pagos-diferidos {
    color: black;
    margin-bottom: -11px;
    font-size: 14px;
    margin-left:5px;
}
.modo-envio {
    color: #39b54a;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left:5px;
}



@media(min-width:768px){
    .main-header-top-bar{
        
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    
    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin:0 5px;
    }
}
@media(min-width:1200px){
    .logo{
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        max-width: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar li{
        margin-top: 40px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
}